@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0px;
    padding: 0px;
    font-family: Quicksand;

  }

  .navbar{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    gap: 10;
    
    
  }
  .logo-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 186px;
    
  }
  .nav-heading{
    text-align: center;
    margin-top: 17px;
    
  }
  .ul-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 32px;
    padding: 0px;
    }
   

  .btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    margin: 0px 186px;
    padding: 10px;
    height: 50px;
    width: 197px;
    border: none;
    flex: none;
    flex-grow: 0;
  }
  .btn span{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%; 
    text-align: left;
  }
  .ul-container li{
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    gap: 32;
    margin: 0px 32px;
    padding: 0px;

  }
  
