@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0px;
    padding: 0px;
    font-family: Quicksand;

  }

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
    gap: 10;
    width: 1440px;

    
    
  }
  .logo-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 186px;
    
  }
 
  .nav-heading{
    text-align: center;
    margin-top: 17px;
    
  }
  .ul-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap: 32px;
    padding: 0px;
    }
    
   

  .btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    margin: 0px 186px;
    padding: 10px;
    height: 50px;
    width: 197px;
    border: none;
    flex: none;
    flex-grow: 0;
  }
  .btn span{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%; 
    text-align: left;
  }
  .ul-container li{
    
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    gap: 32;
    margin: 0px 32px;
    padding: 0px;

  }
  .li-home a{
    text-decoration: none;
    color: rgb(254, 163, 1);
  }
  .li-about a{
    text-decoration: none;
    color: rgb(1, 172, 253);
  }
  .li-Facilities a{
    text-decoration: none;
    color: rgb(5, 212, 223);
  }
  .li-Admission a{
    text-decoration: none;
    color: rgb(93, 88, 239);
  }
  .humbuger{
    display: none;
    width: 30px;
    
    
  }

 .hero-section{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 560px;
    align-items: center;
    justify-content: center;
    margin: 0px 186px;
    
    

 }

 .hero-heading{
    
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    
    margin: 24px 0px;
 }
 .hero-content{
    color: rgb(17, 17, 17);
    margin: 24px 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
 }
 .hero-btn{
    border-radius: 12px;

/* Black */
    background: rgb(17, 17, 17);
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
    width: 197px;
    height: 50px;
    gap: 10;
    padding: 10px;
 }
 .hero-span{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
 }
 .hero-img{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 100px;
    width: 468.61px;
    height: 575px;
   
 }
 .Empowering{
    color: rgb(254, 163, 1);
 }
 .towards{
    color:rgb(1, 172, 253);
 }
  




 @media (max-width: 576px) {
   .ul-container, .nav-heading{
    display: none;


   }
   .humbuger{
    display: flex;
    width: 50px;

   }

   .btn{
    display: none;
   }
   
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    gap: 10;
    border-bottom: 1px solid orange;
    
    
  }
   .logo-container{
    margin: 0px;
   }
   .hero-section{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    

   }
   .hero-heading{
    align-items: center;
   }
   .hero-img{
    width: 336.58px;
    height: 413px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 50px 0px;
   }
 }

